:root {
  --color-primary: #3b8fb7;
  --page-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}

body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3b8fb7;
  display: flex;
  width: 100vw;
}

.navbar h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  align-content: center;
}

h1,
h2 {
  font-family: var(--page-font);
  color: #3b8fb7;
  align-content: center;
}

.container {
  max-width: 75vw;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.card {
  border-radius: 40px;
  border: 2px #3b8fb7 solid;
  font-family: var(--page-font);
  padding: 10px;
  margin: 5px;
  padding-left: 20px;
  width: 30vw;
  background-color: white;
}

.todo-input {
  /* max-width: 500vw; */
  font-family: var(--page-font);
  color: var(--color-primary);
  font-size: large;
  transition: box-shadow 2s;
}

.todo-input:focus {
  outline: #3b8fb7;
  border-width: 3px;
  box-shadow: 0px 0px 0px 3px #3b90b726;
}

.button {
  border-radius: 40px;
  padding-left: 10px;
  width: 65px;
  font-family: var(--page-font);
  background-color: var(--color-primary);
  color: white;
  font-size: medium;
  font-style: bold;
  cursor: pointer;
  transition: box-shadow, 0.2s;
}

.button:hover:enabled {
  border: 2px solid #56b7e1;
  background-color: #1b6b90;
  box-shadow: 0px 0px 5px #1b6b90;
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.del-btn {
  transition: box-shadow, 0.2s;
  color: white;
  font-family: var(--page-font);
  background-color: #d92424fa;
  border-color: #d92424fa;
  padding: 3px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.del-btn:hover {
  border: 2px solid #950c0c;
  background-color: #b50404;
  box-shadow: 0px 0px 8px #b50404;
}

.flex-box {
  display: flex;
  align-content: space-evenly;
  align-items: center;
  justify-content: center;
}

.flex-item {
  align-self: "center";
}

.modal {
  /* display: "none"; */
  position: absolute;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-item {
  width: 35vw;
  /* box-shadow: 0px 0px 5px #56b7e1; */
}

.todo-text {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: text-decoration 0.8s ease-in;
}
